n8n/workflows/text-flow.json
{
  "name": "WorkflowVersion con trycatch",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -780,
        280
      ],
      "id": "7e9759c0-7a73-43d1-ad6e-b59f281d3c00",
      "name": "When chat message received",
      "webhookId": "20cf5885-9bc8-4fad-bc83-2a879d8537ea"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Eres un asistente experto en PostgreSQL.\n\nTu única tarea es convertir preguntas en lenguaje natural en consultas SQL válidas.\n\nBase de datos:\n\nVista: vista_personas_n8n\n\nColumnas:\n- id_persona\n- tipo_documento_identidad\n- primer_nombre\n- segundo_nombre\n- apellidos\n- fecha_nacimiento\n- edad\n- dia_semana_nacimiento\n- dia_nacimiento\n- mes_nacimiento\n- ano_nacimiento\n- nombre_mes\n- genero_persona\n- correo_electronico\n- numero_celular\n- url_foto_perfil\n- rol_usuario\n\n----------------------------------------\nREGLAS OBLIGATORIAS\n----------------------------------------\n\n- SOLO puedes generar consultas SQL tipo SELECT\n- PROHIBIDO usar INSERT, UPDATE, DELETE, DROP o ALTER\n- NO expliques nada\n- NO agregues texto adicional\n- NO uses comillas triples\n- NO uses markdown\n- La respuesta debe ser SOLO JSON válido\n- NO inventes datos\n- SIEMPRE genera una consulta\n\n----------------------------------------\nFORMATO DE SALIDA (OBLIGATORIO)\n----------------------------------------\n\nResponde EXACTAMENTE así:\n\n{\n  \"query\": \"SELECT ...\"\n}\n\n- No agregues nada antes ni después del JSON\n- El JSON debe ser válido\n- La consulta debe terminar en ;\n\n----------------------------------------\nREGLAS DE CONSTRUCCIÓN SQL\n----------------------------------------\n\n- Usa SIEMPRE la vista: vista_personas_n8n\n- NO uses LIMIT por defecto\n- SOLO usa LIMIT cuando la pregunta implique:\n  - \"el más\", \"la más\"\n  - \"primero\", \"último\"\n  - \"top\"\n- Usa COUNT(*) para conteos\n- Usa alias solo si es necesario\n\n----------------------------------------\nMANEJO DE NOMBRES\n----------------------------------------\n\nPara nombre completo usa EXACTAMENTE:\n\nprimer_nombre || ' ' || COALESCE(segundo_nombre, '') || ' ' || apellidos\n\n----------------------------------------\nBÚSQUEDAS DE TEXTO\n----------------------------------------\n\n- Usa ILIKE para búsquedas (case insensitive)\n- Para búsquedas por nombre:\n\nWHERE \n  primer_nombre ILIKE '%valor%' OR\n  segundo_nombre ILIKE '%valor%' OR\n  apellidos ILIKE '%valor%'\n\n----------------------------------------\nREGLAS DE INTERPRETACIÓN\n----------------------------------------\n\nANTES de generar la consulta, identifica la intención del usuario.\n\n- \"persona más joven\" → ORDER BY fecha_nacimiento DESC LIMIT 1\n- \"persona más vieja\" → ORDER BY fecha_nacimiento ASC LIMIT 1\n- \"edad\" → usar la columna edad\n- \"correo de X documento\" → filtrar por id_persona\n\n- Si la pregunta implica comparación (más, menos, mayor, menor):\n  SIEMPRE usar ORDER BY + LIMIT 1\n\n- NUNCA generes consultas genéricas como:\n  SELECT * FROM vista_personas_n8n LIMIT 10;\n\n- Si la pregunta es ambigua o no tiene sentido claro, genera la consulta más específica posible basada en los datos disponibles, evitando resultados genéricos.\n\n----------------------------------------\nVALIDACIONES IMPORTANTES\n----------------------------------------\n\n- Asegúrate que la consulta sea SQL válido en PostgreSQL\n- NO generes columnas que no existen\n- NO uses funciones no soportadas\n- SIEMPRE incluye FROM vista_personas_n8n\n\n----------------------------------------\nEJEMPLOS\n----------------------------------------\n\nUsuario: ¿Quién es la persona más joven?\nRespuesta:\n{\n  \"query\": \"SELECT primer_nombre, segundo_nombre, apellidos, fecha_nacimiento, edad FROM vista_personas_n8n ORDER BY fecha_nacimiento DESC LIMIT 1;\"\n}\n\nUsuario: Dame personas con nombre Juan\nRespuesta:\n{\n  \"query\": \"SELECT primer_nombre, apellidos FROM vista_personas_n8n WHERE primer_nombre ILIKE '%juan%' OR segundo_nombre ILIKE '%juan%' OR apellidos ILIKE '%juan%';\"\n}\n\nUsuario: ¿Cuántas personas hay?\nRespuesta:\n{\n  \"query\": \"SELECT COUNT(*) FROM vista_personas_n8n;\"\n}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -420,
        260
      ],
      "id": "49c546b1-8288-4075-a3cb-ed1b33b9bd45",
      "name": "AI Agent1",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "modelName": "models/gemini-flash-latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -400,
        700
      ],
      "id": "fee06792-6d88-4bfd-975d-c08cfa4eba55",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "tJ7nlJlETicecut6",
          "name": "Google Gemini(PaLM) DS2 IA1"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Ejecuta consultas SQL en la base de datos PostgreSQL.\nSolo se permiten consultas tipo SELECT.\nSe usa para obtener información de la tabla personas.",
        "operation": "executeQuery",
        "query": "{{ $fromAI(\"query\") }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        -160,
        740
      ],
      "id": "34abad8e-b9d5-4d2d-a287-878facf74181",
      "name": "consultar_bd1",
      "credentials": {
        "postgres": {
          "id": "8a3juCRQUN2R4VuO",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "{{$json[\"query\"]}}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        60,
        540
      ],
      "id": "0d1fdf07-d683-4d24-bf17-54a666af5c9e",
      "name": "Execute a SQL query",
      "credentials": {
        "postgres": {
          "id": "8a3juCRQUN2R4VuO",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Eres un asistente que responde preguntas en lenguaje natural usando **solo los datos que vienen en la entrada**. \n\nTu entrada siempre tiene la forma:\n\n{\n  \"chatInput\": \"Pregunta del usuario\",\n  \"dbResult\": [ ... ] // resultados de la base de datos en JSON\n}\n\nLa entrada real se proporcionará a continuación en formato JSON. Úsala exactamente como fuente de verdad:\n\nEntrada:\n{{ JSON.stringify($json) }}\n\nTu tarea:\n1. Responde **solo usando la información en `dbResult`**.\n2. Si `dbResult` está vacío, responde claramente: \"No se encontró información.\"\n3. Resume de manera clara y concisa si hay múltiples resultados.\n4. Cuando sea relevante, usa el **nombre completo** concatenando `primer_nombre + segundo_nombre + apellidos`.\n5. Incluye los campos más importantes si existen: `id_persona`, `tipo_documento_identidad`, `nombre completo`, `fecha_nacimiento`, `edad`, `dia_semana_nacimiento`, `nombre_mes`, `genero_persona`, `correo_electronico`, `numero_celular`, `rol_usuario`, `url_foto_perfil`.\n6. No inventes información, no agregues nada que no venga de `dbResult`.\n7. Responde en español de manera natural, clara y directa.\n\nEjemplo de entrada:\n{\n  \"chatInput\": \"¿Quién es la persona más joven?\",\n  \"dbResult\": [\n    {\n      \"id_persona\": \"777\",\n      \"tipo_documento_identidad\": \"CC\",\n      \"primer_nombre\": \"Simon\",\n      \"segundo_nombre\": \"\",\n      \"apellidos\": \"Giraldo\",\n      \"fecha_nacimiento\": \"2004-01-01T00:00:00.000Z\",\n      \"edad\": 22,\n      \"dia_semana_nacimiento\": \"Monday\",\n      \"nombre_mes\": \"january\",\n      \"genero_persona\": \"Masculino\",\n      \"correo_electronico\": \"yop@gmail.com\",\n      \"numero_celular\": \"3000000000\",\n      \"url_foto_perfil\": \"777.jpg\",\n      \"rol_usuario\": \"admin\"\n    }\n  ]\n}\n\nEjemplo de salida:\n\"Según la base de datos, la persona más joven es Simon Giraldo (CC 777), nacido el 1 de enero de 2004. Tiene 22 años, es de género Masculino, con correo yop@gmail.com, celular 3000000000 y rol admin.\"",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        860,
        420
      ],
      "id": "24997f47-2a1a-4fd1-9626-4421220ba74b",
      "name": "AI Agent2",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "modelName": "models/gemini-flash-latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        820,
        680
      ],
      "id": "fa6ca2e9-1947-4da7-82d6-d1d52fa012cb",
      "name": "Google Gemini Chat Model2",
      "credentials": {
        "googlePalmApi": {
          "id": "hLTpY1BcEYeGczU6",
          "name": "Google Gemini(PaLM) DS2 IA2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Convierte el string JSON del AI en un objeto real para Postgres\ntry {\n  const aiOutput = JSON.parse($json[\"output\"]);\n\n  return [\n    {\n      json: {\n        query: aiOutput.query\n      }\n    }\n  ];\n} catch (error) {\n  return [\n    {\n      json: {\n        query: \"SELECT 'Error parseando JSON' as mensaje;\",\n        fallback: true\n      }\n    }\n  ];\n}\nreturn [\n  {\n    json: {\n      query: aiOutput.query\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -60,
        200
      ],
      "id": "045627fc-2636-45f6-80cc-13f73237c6bb",
      "name": "Code"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        340,
        500
      ],
      "id": "c075137b-e805-43ca-a6e8-c3f5fb4727bb",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    json: {\n      chatInput: $input.all()[0].json.chatInput,\n      dbResult: $input.all().slice(1).map(item => item.json)\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        600,
        320
      ],
      "id": "57a33169-961c-45cf-af9a-978ac978fd0c",
      "name": "Code1"
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    json: {\n      query: \"SELECT 'Error generando consulta SQL' as mensaje;\",\n      fallback: true\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        260
      ],
      "id": "d34e741f-094e-4a55-9bf4-1b38b1ee7657",
      "name": "Code2"
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    json: {\n      text: \"No pude generar respuesta con IA, intente mas tarde\",\n    },\n  },\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1300,
        680
      ],
      "id": "5b46a071-c5ce-4c61-8c3a-74acf0b3bb6c",
      "name": "Code3"
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    json: {\n      numero_documento: \"777\",\n      pregunta: $items(\"When chat message received\")[0].json.chatInput,\n      respuesta: $json.output\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1320,
        300
      ],
      "id": "4dd4bfb4-b92b-43da-bd05-f2029886d51f",
      "name": "Code4"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO n8n (\n    numero_documento,\n    pregunta,\n    respuesta\n)\nVALUES (\n    '{{ $json.numero_documento }}',\n    '{{ $json.pregunta.replace(/'/g, \"''\") }}',\n    '{{ $json.respuesta.replace(/'/g, \"''\") }}'\n);",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1540,
        300
      ],
      "id": "77454f1c-935a-4143-955c-b587491c4c85",
      "name": "Execute a SQL query1",
      "credentials": {
        "postgres": {
          "id": "8a3juCRQUN2R4VuO",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    json: {\n      output: $json.respuesta\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1580,
        480
      ],
      "id": "a7c770c9-1b91-4709-9a7e-fefa8da5fa24",
      "name": "Code5"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          },
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "consultar_bd1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Google Gemini Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "AI Agent2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code2": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent2": {
      "main": [
        [
          {
            "node": "Code4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code4": {
      "main": [
        [
          {
            "node": "Execute a SQL query1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query1": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b7d34128-70d7-4cb8-b3a2-74004b523ff3",
  "meta": {
    "instanceId": "e263dfa0eec821411a63489df913871e978421a72809440c307b1696ff37981c",
    "templateCredsSetupCompleted": true
  },
  "id": "alUcO8QnJIrLG63w",
  "tags": []
}